
* {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-block-end: 0;
    padding-block-start: 0;
}

.rtl {
    direction: rtl;
}

@font-face {
    font-family: "rezvan";
    src: url("fonts/Rezvan.ttf") format(woff);
}

@font-face {
    font-family: "kamran";
    src: url("fonts/Far_KamranO.ttf") format(woff);
}

p,
blockquote,
h1,
h2,
h3,
h4,
h5,
i,
b,
ul,
li {
    cursor: default;
}

